body {
    background-color: lightgray;
}

p {
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 2.5rem;
}

h3 {
    margin: 0;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.join {
    border-radius: 20px;
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    margin-top: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px;
}

.banner > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.covered {
    background-color: lightblue;
    grid-column: 1/2;
    grid-row: 1/3;
    background-image: url(../img/family-scaled.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.covered em {
    color: white;
}

.covered > div {
    padding: 100px;
    padding-bottom: 200px;
}

.offer {
    background-color: darkorange;
    grid-column: 2/3;
    grid-row: 1/2;
}

.offer h2 {
    color: white;
}

.waiting {
    background-color: orange;
    grid-column: 2/3;
    grid-row: 2/3;
}

.waiting h2 {
    color: white;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

nav li {
    display: inline;
}

nav li a {
    text-decoration: none;
}

.safety {
    background-color:darkgrey;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 525px;
}

.safety div {
    padding: 100px;
}

.safety h2 {
    color: white;
}

.about {
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
}

.cards {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.card {
    background-color: white;
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 135px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
}

.portrait {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 50px;
    border-radius: 5px;
}

.about > h2 {
    color: white;
}

.about > p {
    margin: 20px 0;
    width: 50%;
    text-align: center;
}

.child {
    background-color: lightblue;
}

.adult {
    background-color: orange;
}

.old {
    background-color: darkorange;
}

.how {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 320px);
}

.how > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.how > div h3 {
    align-self: flex-start;
}

.how > div p {
    max-width: 180px;
    text-align: center;
}

.how div:nth-child(1) {
    background-color: lightblue;
    justify-content: center;
    align-items: center;
}

.how div:nth-child(even) {
    background-color: white;
}

.how div:nth-child(5) {
    background-color: darkorange;
}

footer {
    background-color: gray;
    height: 320px;
}

footer a {
    background-color: darkgray;
    display: block;
    width: 100%;
    height: 42px;
    text-align: center;
    text-decoration: none;
}

.current {
    font-weight: bold;
}

/* Contact page styles below*/

.contact-banner {
    background-color: lightblue;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.contact {
    background-color: darkgray;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 500px;
}

section.contact div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

section.contact div h2 {
    margin: 0;
    margin-left: 80px;
    font-size: 3.5em;
}

section.contact div form {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    width: 100%;
}

textarea {
    resize: none;
    width: 100%;
}

section.contact div form button {
    margin-top: 10px;
    width: fit-content;
    align-self: flex-end;
}

footer.contact-footer {
    height: 600px;
}

.background {
    background-color: aqua;
    /* background image goes here */
    height: 400px;
    padding-top: 50px;
    padding-left: 100px;
}

.background .contact-card {
    background-color: orange;
    width: 30%;
    padding: 20px;
    height: 200px;
}